
# /etc/systemd/system/slurmctld.service

[Unit]
Description=Slurm controller daemon
After=network.target munge.service

[Service]
Type=simple
User=slurm
ExecStart=/usr/sbin/slurmctld -D
PIDFile=/var/run/slurmctld.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target

